/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'appointments';


body {
  font-family: "proxima-nova", Helvetica, sans-serif;
  background-color: #e1f5fe;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  padding:20px;
  text-align: center;
  align-items: center;

}
li {list-style: none}

a {
  color: #009bde;
}


p, ol, ul, td {
  font-family: GillSans, Calibri, Trebuchet , sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.top-bar{
  background-color: #009bde;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.button a {
  color: white;

  &:visited {
    color: white;
  }
}

.button {
  padding: 1em;
  border-radius: 18%;
}

.logo a{
  float:left;
  padding-bottom: 10px;
  color: #b0bec5 ;
  font-size: 3em;

}
.button-group .button {
  color: #f06292;
  padding:2px;
}
.button.alert{
  background-color: #2199e8;
}
.clock {
  margin-left: 15px;
  width: 180px;
  border: 1px solid #b0bec5;
  font-size: 1.6em;
  color: #e0e0e0 ;
  padding:5px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
.new_appointment{
  margin-top: 20px;
}

p #notice {
  font-size: 2em;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  width: 50%;
  height: 50px;
  padding: 20px;
  background-color: #b9f6ca ;
  text-align: center;
  border-radius: 20%;
  color:#fff;

  // background-color: #b9f6ca;
}

.field_with_errors {
  padding: 2px;
  background-color: #b9f6ca;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 1px solid #00b0ff;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #b9f6ca;



  ul li {
    font-size: 15px;
    list-style: none;
  }

}
thead th {font-size: 1.5em; color: #666666;}
